@import 'tailwindcss';

:root {
  --root-padding: 2rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--root-padding);
  text-align: center;
}

main {
  height: calc(100vh - 2 * var(--root-padding));
}
