@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --root-padding: 2rem;
}

html {
  background-color: beige;
  transition: all 0.3s ease-in-out;
}

html.dark {
  background-color: lightslategrey;
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--root-padding);
  text-align: center;
}

main {
  height: calc(100vh - 2 * var(--root-padding));
}
